<!--{template common/header}-->
<link rel="stylesheet" href="source/plugin/network/template/network.css">
<div id="pt" class="bm cl">
	<!--{subtemplate common/simplesearchform}-->
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a>
		<em>&rsaquo;</em><a href="plugin.php?id=network:network">网络文化节作品展示</a>
	</div>
</div>
<div id="ct">
	<div class="group-title">动漫</div>
	<!--{loop $cartoons $cartoon}-->
	<a href="plugin.php?id=network:show&nid={$cartoon['nid']}" title="{$cartoon['description']}">
		<div class="group-body">
			<div class="thumb" style="background-image:url(source/plugin/network/resources/thumb/{$cartoon['groupname']}/{$cartoon['title']}.jpg)">
				<div class="info-float">浏览量：{$cartoon['pageview']}，{$cartoon['like']}个赞</div>
			</div>
			<div class="info">
				<div class="info-title">《{$cartoon['title']}》</div>
				<div class="info-author">作者：{$cartoon['author']}，{$cartoon['grade']}</div>
			</div>
		</div>
	</a>
	<!--{/loop}-->
	<!-- <div class="group-title">创新创业</div> -->
	<!--{loop $businesses $business}-->
	<a href="plugin.php?id=network:show&nid={$business['nid']}" title="{$business['description']}">
		<div class="group-body">
			<div class="thumb" style="background-image:url(source/plugin/network/resources/thumb/{$business['groupname']}/{$business['title']}.jpg)">
				<div class="info-float">浏览量：{$business['pageview']}，{$business['like']}个赞</div>
			</div>
			<div class="info">
				<div class="info-title">《{$business['title']}》</div>
				<div class="info-author">作者：{$business['author']}，{$business['grade']}</div>
			</div>
		</div>
	</a>
	<!--{/loop}-->
	<div class="group-title">网文</div>
	<!--{loop $articles $article}-->
	<a class="article" href="plugin.php?id=network:show&nid={$article['nid']}" title="{$article['description']}">
		<div style="float:left">《{$article['title']}》作者：{$article['author']}，{$article['grade']}</div>
		<div style="float:right">浏览量：{$article['pageview']}，{$article['like']}个赞</div>
		<div style="clear:both"></div>
	</a>
	<!--{/loop}-->
	<div style="margin-bottom:1em"></div>
	<div class="group-title">摄影</div>
	<!--{loop $photos $photo}-->
	<a href="plugin.php?id=network:show&nid={$photo['nid']}" title="{$photo['description']}">
		<div class="group-body">
			<div class="thumb" style="background-image:url(source/plugin/network/resources/thumb/{$photo['groupname']}/{$photo['title']}.jpg)">
				<div class="info-float">浏览量：{$photo['pageview']}，{$photo['like']}个赞</div>
			</div>
			<div class="info">
				<div class="info-title">《{$photo['title']}》</div>
				<div class="info-author">作者：{$photo['author']}，{$photo['grade']}</div>
			</div>
		</div>
	</a>
	<!--{/loop}-->
	<div class="group-title">微电影</div>
	<!--{loop $movies $movie}-->
	<a href="plugin.php?id=network:show&nid={$movie['nid']}">
		<div class="group-body">
			<div class="thumb" style="background-image:url(source/plugin/network/resources/thumb/{$movie['groupname']}/{$movie['title']}.jpg)">
				<div class="info-float">浏览量：{$movie['pageview']}，{$movie['like']}个赞</div>
				<div class="info-float right">{$movie['length']}</div>
			</div>
			<div class="info">
				<div class="info-title">《{$movie['title']}》</div>
				<div class="info-author">作者：{$movie['author']}，{$movie['grade']}</div>
			</div>
		</div>
	</a>
	<!--{/loop}-->
</div>
<hr>
<!--{template common/footer}-->