<!--{template common/header}-->
<link rel="stylesheet" href="source/plugin/network/template/network.css">
<div id="pt" class="bm cl">
	<!--{subtemplate common/simplesearchform}-->
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a>
		<em>&rsaquo;</em><a href="plugin.php?id=network:network">网络文化节作品展示</a>
	</div>
</div>
<div id="ct">
	<h2>南京航空航天大学</h2>
	<h2>首届网络文化节</h2>
	<p>举办南京航空航天大学首届网络文化节，旨在充分发挥网络文化的引导作用，加强社会主义核心价值观网上传播阵地建设，创新网络教育形式，丰富网络思想教育资源，引导广大学生积极践行社会主义核心价值观，弘扬主旋律，传播正能量。</p>
	<p>网络文化节作品征集共分5个大类，包括微视频、摄影、网文、漫画、创新创业等。作品征集期间共收到申报102件，其中微视频作品27件，摄影作品28件，网文作品25件，漫画作品16件，创新创业作品6件。</p>
	<p>通过校内初选，选出微视频、摄影、网文、漫画等作品各6件，创新创业作品4件进入终审答辩，并通过纸飞机青年网络社区公开展示。欢迎大家为喜欢的作品点赞！</p>
	<hr style="border-top:1px dotted #CCC">
	<div class="group-title">漫画</div>
	<!--{loop $cartoons $cartoon}-->
	<a href="plugin.php?id=network:show&nid={$cartoon['nid']}" title="{$cartoon['description']}">
		<div class="group-body">
			<div class="thumb" style="background-image:url(source/plugin/network/resources/thumb/{$cartoon['groupname']}/{$cartoon['title']}.jpg)">
				<div class="info-float">浏览量：{$cartoon['pageview']}，{$cartoon['like']}个赞</div>
			</div>
			<div class="info">
				<div class="info-title">《{$cartoon['title']}》</div>
				<div class="info-author">作者：{$cartoon['college']}，{$cartoon['author']}</div>
			</div>
		</div>
	</a>
	<!--{/loop}-->
	<!-- <div class="group-title">创新创业</div> -->
	<!--{loop $businesses $business}-->
	<a href="plugin.php?id=network:show&nid={$business['nid']}" title="{$business['description']}">
		<div class="group-body">
			<div class="thumb" style="background-image:url(source/plugin/network/resources/thumb/{$business['groupname']}/{$business['title']}.jpg)">
				<div class="info-float">浏览量：{$business['pageview']}，{$business['like']}个赞</div>
			</div>
			<div class="info">
				<div class="info-title">《{$business['title']}》</div>
				<div class="info-author">作者：{$business['college']}，{$business['author']}</div>
			</div>
		</div>
	</a>
	<!--{/loop}-->
	<div class="group-title">网文</div>
	<!--{loop $articles $article}-->
	<a class="article" href="plugin.php?id=network:show&nid={$article['nid']}" title="{$article['description']}">
		<div style="float:left">《{$article['title']}》作者：{$article['college']}，{$article['author']}</div>
		<div style="float:right">浏览量：{$article['pageview']}，{$article['like']}个赞</div>
		<div style="clear:both"></div>
	</a>
	<!--{/loop}-->
	<div style="margin-bottom:1em"></div>
	<div class="group-title">摄影</div>
	<!--{loop $photos $photo}-->
	<a href="plugin.php?id=network:show&nid={$photo['nid']}" title="{$photo['description']}">
		<div class="group-body">
			<div class="thumb" style="background-image:url(source/plugin/network/resources/thumb/{$photo['groupname']}/{$photo['title']}.jpg)">
				<div class="info-float">浏览量：{$photo['pageview']}，{$photo['like']}个赞</div>
			</div>
			<div class="info">
				<div class="info-title">《{$photo['title']}》</div>
				<div class="info-author">作者：{$photo['college']}，{$photo['author']}</div>
			</div>
		</div>
	</a>
	<!--{/loop}-->
	<div class="group-title">微电影</div>
	<!--{loop $movies $movie}-->
	<a href="plugin.php?id=network:show&nid={$movie['nid']}">
		<div class="group-body">
			<div class="thumb" style="background-image:url(source/plugin/network/resources/thumb/{$movie['groupname']}/{$movie['title']}.jpg)">
				<div class="info-float">浏览量：{$movie['pageview']}，{$movie['like']}个赞</div>
				<div class="info-float right">{$movie['length']}</div>
			</div>
			<div class="info">
				<div class="info-title">《{$movie['title']}》</div>
				<div class="info-author">作者：{$movie['college']}，{$movie['author']}</div>
			</div>
		</div>
	</a>
	<!--{/loop}-->
</div>
<hr>
<!--{template common/footer}-->